<html>

<head>
    <title>Firenote</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
</head>

<body>
    <div class="sidenav">
        <a href="#" onclick="exportHtml()">Export</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>
    <div id="main">
        <div id="source">
            <textarea type="text" id="src" onkeyup="tohtml()">{% if content: %}{{ content }}{% endif %}</textarea>
        </div>
        <div id="preview"></div>
    </div>
    <div id="statusbar">
        <span id="linecount">0</span> Lines
    </div>
    <script>
        document.getElementById("src").addEventListener("keydown", function (e) {
            if (e.key == "Tab") {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;
                this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);
                this.selectionStart = this.selectionEnd = start + 1;
            }
        });
    </script>
</body>

</html>