html {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(27, 27, 27);
    color:white;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
}

#main {
    display: flex;
    width: 100vw;
    margin: 0%;
    padding: 0%;
}

#source,
#preview {
    flex-direction: row;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    width: 50vw;
    height: 95vh;
}

#doclink {
    color:aqua;
}

#preview {
    padding-left: 12px;
    vertical-align: top;
    overflow-y: auto;
    user-select: none;
}

#source {
    padding-left: 58px;
}

@media only screen and (max-width: 768px) {
    #main {
        flex-direction: row;
    }
}

#statusbar {
    position: fixed;
    padding-left: 56px;
    vertical-align: middle;
    width: 100vw;
    height: 5vh;
    background-color: rgb(43, 43, 43);
    border-top: whitesmoke solid 2px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#statusbar>p {
    line-height: 5vh;
    margin: 0%;
    margin-left: 10px;
    font-family: monospace;
    font-size: 15px;
}

#optionsBtn {
    cursor:pointer;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    border-right: 2px solid whitesmoke;
    background: #111111;
    color:white;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed !important;
    position: absolute;
    background-color: orange;
    height: 100vh;
    width: 55px;
    top: 0;
    left: 0;
    border-right: 2px solid whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding-top: 1rem;
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #000000;
}

.sidenav a:hover {
    color: #ffeede;
}

.fileDropbtn {
    cursor: pointer;
}

.fileDropdown {
    position: relative;
    display: inline-block;
}

.file-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.file-dropdown-content a {
    font-family: monospace;
    font-size: 12px;
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.file-dropdown-content a:hover {
    background-color: #ddd;
    color: black
}

.show {
    display: block;
}


.exportDropdown {
    position: relative;
    display: inline-block;
}

.export-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    margin-left: 90px;
    top: -2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.export-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.exportDropdown-content a:hover {
    background-color: #ddd;
}

.exportDropdown:hover .export-dropdown-content {
    display: block;
}

.show {
    display: inline-block;
}

.modal {
    font-family: monospace;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #444444;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: 20vw;
    max-width: 300px;
}

select {
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
}

/* Style the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style the labels and selects */
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#description {
    resize: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 80%;
    height: 80%;
    max-width: 300px;
}

input {
    max-width: 300px;
    width: 80%;
}

.submitbtn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #ececec;
    border-radius: 4px;
}

.submitbtn:hover {
    background-color: #b4b4b4;
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media print {
    #source, #statusbar, .sidenav {
        display:none;
    }
    #preview {
        /* position: fixed; */
        width: 100vw !important;
        height: auto !important;
        z-index: 999999999;
        background-color: white;
        color:black;
        page-break-after: always;
    }
}

@media only screen and (orientation:portrait) {
    textarea {
        border: none;
    }

    #main {
        flex-direction: column;
    }

    #source,
    #preview {
        width: 100vw;
        height: 47.6vh;
    }

    #preview {
        padding-left: 58px;
        border-top: 2px solid whitesmoke;
    }
}